*{
    margin: 0;
    padding: 0;
}
body{
    font-family: var(--fonte-principal);
}

.container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/*Card*/
.card{
    width: 300px;
    height: 460px;
    margin: 25px;
    background-color: var(--cor-branco);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
    transition: 0.3s;
}

/*Card Header*/
.card-header{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.card-img{
    min-width: 100%;
    width: auto;
    height: 100%;
}

/*Card Body*/
.card-body{
    height: 170px;
    padding: 15px;
    text-align: center;
    font-family: sans-serif;
}

.card-titulo{
    font-size: 32px;
    margin: 15px 0;
}

.card-texto{
    font-size: 17px;
    width: 250px;
    margin: 0 auto;
}

/*Card Footer*/
.card-footer{
    margin-top: 10px;
    text-align: center;
    background-color: var(--cor-preto);
}

.card-footer a {
    color: var(--cor-branco);
    display: block;
    padding: 16px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
}

/*Cores Cards*/
.card-1 .card-footer {
    background-color: var(--cor-do-card1);
}

.card-1 .card-titulo {
    color: var(--cor-do-card1);
}

.card-2 .card-footer {
    background-color: var(--cor-do-card2);
}

.card-2 .card-titulo {
    color: var(--cor-do-card2);
}

/*Animação Hover*/
.card:hover{
    transform: scale3d(1.1, 1.1, 1);
}
