@media screen and (min-width: 720px) {
  body{
    font-family: var(--fonte-principal);
  }
  .retangulo{
      width: 100%;
      height: 79px;
      flex-shrink: 0;
      background-color: var(--cor-do-retangulo);
  }
  .comocoletar{
      width: 100%;
      height: 123px;
      flex-shrink: 0;
      color: var(--cor-do-titulo-carrossel);
      text-align: center;
      font-size: 50px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
  }
  .como_texto{
      color: var(--cor-preto);
      margin-top: 3%;
      text-align:justify;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 25px;
      font-style: normal;
      font-weight: 30;
      line-height: normal;
  }
  .card5 {
      position: relative;
      width: 650px;
      height: 400px;
      background-color: var(--cor-de-fundo);
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      perspective: 1000px;
      box-shadow: 0 0 0 5px #ffffff80;
      transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      margin: 2em;
    }
    
    .card5:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
    }
    .card__img_5{
      width: 500px;
      height: 400px;
    }
    
    .card__content5 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 20px;
      box-sizing: border-box;
      background-color: #f2f2f2;
      transform: rotateX(-90deg);
      transform-origin: bottom;
      transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    
    .card5:hover .card__content5 {
      transform: rotateX(0deg);
    }
    
    .card__title5 {
      margin: 0;
      font-size: 24px;
      color: #333;
      font-weight: 700;
    }
    
    .card5:hover svg {
      scale: 0;
    }
    
    .card__description5 {
      font-size: 25px;
      color: var(--cor-preto);
      line-height: 1.4;
      margin: 2em;
    }
  }


/* 1024px - 1200px = desktop */
@media screen and (min-width: 1024px) {
body{
  font-family: var(--fonte-principal);
}
.retangulo{
    width: 100%;
    height: 79px;
    flex-shrink: 0;
    background-color: var(--cor-do-retangulo);
}
.comocoletar{
    width: 100%;
    height: 123px;
    flex-shrink: 0;
    color: var(--cor-do-titulo-carrossel);
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.como_texto{
    color: var(--cor-preto);
    margin-top: 3%;
    margin-left: 2%;
    text-align:justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 30;
    line-height: normal;
}
.card5 {
    position: relative;
    width: 700px;
    height: 400px;
    background-color: var(--cor-de-fundo);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin: 2em;
    margin-left: 38em;
  }
  
  .card5:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  .card__img_5{
    width: 500px;
    height: 400px;
  }
  
  .card__content5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card5:hover .card__content5 {
    transform: rotateX(0deg);
  }
  
  .card__title5 {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
  }
  
  .card5:hover svg {
    scale: 0;
  }
  
  .card__description5 {
    font-size: 25px;
    color: var(--cor-preto);
    line-height: 1.4;
    margin: 2em;
  }
}