@media screen and (min-width: 720px) {
  body{
    font-family: var(--fonte-principal);
  }
  .retangulo{
      width: 100%;
      height: 79px;
      flex-shrink: 0;
      background: var(--cor-do-retangulo);
  }
  .como{
      width: 100%;
      height: 123px;
      flex-shrink: 0;
      color: var(--cor-do-titulo-carrossel);
      text-align: center;
      font-size: 55px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
  }
  .card4 {
      width: 39em;
      height: 300px;
      perspective: 1000px;
      margin: 3em;
    }
    
    .card-inner4 {
      width: 100%;
      height: 100%;
      position: relative;
      transform-style: preserve-3d;
      transition: transform 0.999s;
    }
    
    .card4:hover .card-inner4 {
      transform: rotateY(180deg);
    }
    
    .card-front4,
    .card-back4 {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
    }
    
    .card-front4 {
      background-color: #ff654a;
      color: #fff;
      display: flex;
      align-items: center;
      border: 10px solid #ff3225;
      border-radius: 10px;
      justify-content: center;
      font-size: 25px;
      transform: rotateY(0deg);
      text-align: justify;
    }
    
    .card-back4 {
      background-color: #ffa779;
      color: #fff;
      display: flex;
      align-items: center;
      border: 10px solid #F08A5D;
      border-radius: 10px;
      justify-content: center;
      font-size: 27px;
      transform: rotateY(180deg);
  
    }
  }



/* 1024px - 1200px = desktop */
@media screen and (min-width: 1024px) {
body{
  font-family: var(--fonte-principal);
}
.retangulo{
    width: 100%;
    height: 79px;
    flex-shrink: 0;
    background: var(--cor-do-retangulo);
}
.como{
    width: 100%;
    height: 123px;
    flex-shrink: 0;
    color: var(--cor-do-titulo-carrossel);
    text-align: center;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.card4 {
    width: 39em;
    height: 300px;
    perspective: 1000px;
    margin: 3em;
    margin-left: 650px;
  }
  
  .card-inner4 {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
  }
  
  .card4:hover .card-inner4 {
    transform: rotateY(180deg);
  }
  
  .card-front4,
  .card-back4 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .card-front4 {
    background-color: #ff654a;
    color: #fff;
    display: flex;
    align-items: center;
    border: 10px solid #ff3225;
    border-radius: 10px;
    justify-content: center;
    font-size: 25px;
    transform: rotateY(0deg);
    text-align: justify;
  }
  
  .card-back4 {
    background-color: #ffa779;
    color: #fff;
    display: flex;
    align-items: center;
    border: 10px solid #F08A5D;
    border-radius: 10px;
    justify-content: center;
    font-size: 27px;
    transform: rotateY(180deg);

  }
}